[Unit]
Description="Meu projeto Go"
After=network.target

[Service]
ExecStart=/home/ec2-user/main
WorkingDirectory=/home/ec2-user
User=ec2-user
Group=ec2-user
Restart=always
RestartSec=5s
StandardOutput=file:/var/log/api-go.out.log
StandardError=file:/var/log/api-go.err.log
EnvironmentFile=-/etc/api-go/db.env

[Install]
WantedBy=multi-user.target
