[Unit]
Description="Meu projeto Go"
After=network.target

[Service]
ExecStart=/home/ec2-user/main
WorkingDirectory=/home/ec2-user
User=ec2-user
Group=ec2-user
Restart=always
RestartSec=0
StandardOutput=file:/var/log/projeto.out.log
StandardError=file:/var/log/projeto.err.log
EnvironmentFile=-/etc/projeto/db.env

[Install]
WantedBy=multi-user.target
